body.well {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  min-height: 100%;
  border-width: 0 0 0 0;
}

.main {
  margin-top: 56px;
}

.branding h2 img {
  vertical-align: middle;
}

.ccmixter-donations {
  position: relative;
  z-index: 42;
}

.version {
  background-color: red;
}

.container {
  background-color: white;
  box-shadow: 0px 0px 10px #888888;
}

.page-footer {
  background: transparent;
  box-shadow: none;
  font-size: .85em;
  margin-top: 1em;
  padding-bottom: 1em;
}
.page-footer h4 {
  font-size: 1em;
}

.site-license {
  font-size: .85em;
  margin-top: 1em;
  text-align: center;
  margin-bottom: 50px;
}

.container .well {
  margin: 1em 0;
}

.about .logos {
  text-align: center;
}

.about .logos a {
  margin: 1em;
}

@-webkit-keyframes pulse {
    0% {background-color: rgba(255, 255, 255, 0.1);}
    100% {background-color: rgba(255, 0, 0, 0.1);}
}

h2.loading {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  -webkit-animation: pulse 1s infinite alternate;
}

.navbar {
  background-color: #B9BFC6;
  box-shadow: 0px 5px 5px #888888;
  border-bottom: 5px solid #3399CC;
}

.navbar .nav a {
  color: black;
}

.navbar .navbar-brand {
  padding: 5px;
}

.navbar .nav .active {
  background-color: #3399CC;
  color: white;
}

.navbar-footer {
  border-width: 0 0 0 0;
  border-top: 5px solid #3399CC;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  box-shadow: 0px -5px 5px #888888;
  margin: 0 0 0 0;
  min-height: 0;
  z-index: 43;
}

.now-playing .upload .media-body,
.now-playing .upload {
  display: inline;
}

.now-playing .media-heading:before {
  font-weight: normal;
  font-size: 50%;
  color: #666666;
  content: 'now playing: ';
}

.media-list > .media:nth-child(even) {
  background-color: #EEEFF0;
}

.upload .media-heading,
.upload .license,
.upload .attribution {
  display: inline
}

.upload .attribution {
  font-size: 75%;
  color: #636466;
}

.upload .license {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

ul.uploads {
  margin-top: 1em;
}

.uploads .upload .media-heading {
  color: #3399CC;
  font-size: 100%;
}

.uploads > .upload {
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.uploads .is-playing,
.uploads .is-playing a,
.uploads .is-playing .media-heading {
  background-color: #3399CC;
  color: white;
}

.uploads .upload .play-next,
.uploads .upload .play-previous {
  display: none;
}

.upload .btn {
  padding: 6px 10px;
}

article.upload {
  line-height: 34px;
  height: 34px;
}

.now-playing .thumbnail,
.upload .thumbnail {
  margin-bottom: 0;
  margin-top: 0;
}

.tags .checklist {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: white;
  border-radius: 1em;
  font-size: 80%;
  height: 125px;
  overflow: auto;
}
.tags .checklist li {
  padding-left: 0.5em;
}

.tags-list .label {
  font-size: 100%;
  margin-left: 1em;
}

.checklist .loading {
  padding: 10px;
}

.advanced select {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.advanced .sort select {
  margin-right: 0;
}
.advanced .direction select {
  margin-left: 0;
}

.playback-scrubber {
  margin: 0.5em;
  height: 1.5em;
  width: 20%;
  position: relative;
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.playback-scrubber .bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 8px;
  cursor: pointer;
}

.playback-scrubber .loaded {
  background-color: #EEEEEE;
}

.playback-scrubber .position {
  background-color: #3399CC;
}
