<div class='navbar navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    {{#linkTo "index" class="navbar-brand"}}<img
      src="images/logo.png"
      alt="dig.ccMixter"
    />{{/linkTo}}
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li>{{#linkTo "top" title="Highest ranked tracks on ccMixter"}}Top{{/linkTo}}</li>
        <li>{{#linkTo "recommended" title="Tracks most recommended by ccMixter users"}}Recommended{{/linkTo}}</li>
        <li>{{#linkTo "free" title="Free for Commercial Use"}}Free{{/linkTo}}</li>
        <li>{{#linkTo "new"}}New{{/linkTo}}</li>
        <li>{{#linkTo "about"}}About{{/linkTo}}</li>
      </ul>
    </div>
  </div>
</div>
<section class='main'>{{outlet}}</section>
<section class='page-footer container'>{{partial "footer"}}</section>
<p class="site-license"><a href="http://creativecommons.org/licenses/by-nc/3.0/us/"><img src="http://images/attribution-noncommercial.png" alt="Creative Commons Attribution-Noncommercial 3.0 United States License"></a> This text and images on this site are licensed under a <a href="http://creativecommons.org/licenses/by-nc/3.0/us/">Creative Commons Attribution-Noncommercial 3.0 United States License</a> by <a href="http://artistechmedia.com">ArtIsTech Media</a>.</p>
<div class='navbar navbar navbar-footer'>
  <div class='navbar-inner'>
    {{outlet nowPlaying}}
  </div>
</div>
