<div class='navbar navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    {{#linkTo "index" class="navbar-brand"}}<img
      src="http://dig.ccmixter.org/images/logo.png"
      alt="dig.ccMixter"
    />{{/linkTo}}
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li>{{#linkTo "uploads" "sort=rank" title="Highest ranked tracks on ccMixter"}}Top{{/linkTo}}</li>
        <li>{{#linkTo "uploads" "sort=score" title="Tracks most recommended by ccMixter users"}}Recommended{{/linkTo}}</li>
        <li>{{#linkTo "uploads" "lic=open&sort=rank" title="Free for Commercial Use"}}Free{{/linkTo}}</li>
        <li>{{#linkTo "uploads" "sort=date"}}New{{/linkTo}}</li>
        <li>{{#linkTo "about"}}About{{/linkTo}}</li>
      </ul>
    </div>
  </div>
</div>
<section class='main'>{{outlet}}</section>
<div class='navbar navbar navbar-footer'>
  <div class='navbar-inner'>
    {{outlet nowPlaying}}
  </div>
</div>
