<div class='row'>
  <div class='col-xs-2'>
    <!-- intentionally left blank-->
  </div>
  <div class='col-xs-2'>
    <h4>Find music for...</h4>
    {{link-to "...podcasts" "tags" "vocals,remix" title="Podsafe Music"}}<br/>
    {{link-to "...videos" "tags" "instrumental&lic=open"
          title="Instrumental Music for Videos & Film"}}<br/>
  </div>
  <div class='col-xs-2'>
    <h4>About Us</h4>
    {{link-to "dig.ccMixter" "about"}}<br/>
    <a href='http://ccmixter.org/about'>ccMixter</a><br/>
    <a href='http://tunetrack.net'>TuneTrack.net</a><br/>
    <a href='http://tunetrack.net/artistech/pages/philosophy/'>ArtisTech Media</a><br/>
  </div>
  <div class='col-xs-2'>
    <h4>News</h4>
    <a href='http://tunetrack.net/ccmixter/'>ccMixter on TuneTrack</a><br/>
    <a href='https://twitter.com/ccMixterMusic'>ccMixter on Twitter</a><br/>
  </div>
  <div class='col-xs-2'>
    <h4>Information</h4>
    {{link-to "Site Credits" "about"}}<br/>
  </div>
  <div class='col-xs-2'>
    <!-- intentionally left blank-->
  </div>
</div>

