<p>
  <b>How do you Attribute?</b>
</p><p>
  <b>1. GIVE CREDIT.</b>&nbsp;Be sure to give full Attribution to the musicians in BOTH your video itself and the video description on YouTube.
  For example, if you use <a href="http://ccmixter.org/files/morgantj/18947">cafe connection by morgantj</a>:
</p><p>
  <i>Music &quot;cafe connection&quot; by morgantj featuring Morusque<br />
  <a href="http://tunetrack.net/ccmixter/pages/free-music-to-remix/">http://ccmixter.org/files/morgantj/18947</a><br />
  Under CC BY license <a href="http://tunetrack.net/ccmixter/pages/free-music-to-remix/">http://creativecommons.org/licenses/by/3.0/</a></i>
</p><p>
  <b>2. LINK BACK.</b> Attribution requires you link back to the specific song page on ccMixter - so make the URL on the second line of your Attribution is clickable.
</p><p>
  <b>3. NAME THE LICENSE.</b> Include the type of the CC license designed for the track, and link to it. The examples above do that on the last line. This explains to others how CC licenses work.
</p><p>
  It is simple to utilize the free music library at <a href="http://ccmixter.org/"><span class="s2">ccMixter.org</span></a>,
  so <a href="http://dig.ccmixter.org/"><span class="s2">start digging</span></a>!
  Just remember, Attribution -- giving credit -- is what makes it possible for these artists to give their music away.
</p>
