<article class='homepage container'>
  {{dig-bar queryParams="sort=rank&order=desc&lic=&tags=" action="dig"}}
  <h2>ccMixter Music Discovery <span class='badge beta'>(BETA)</span></h2>
  <h3>&ldquo;You Already Have Permission With Attribution&hellip;&rdquo;</h3>
  <div class="row">
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-4">
          <h3>
            {{#linkTo "tags" "vocals,remix"
                title="Podsafe Music"}}Podsafe Music{{/linkTo}}
          </h3>
          <p>
            Great vocalists meet fresh, innovative producers every day on ccMixter.
            Together they make radio-ready tracks and remixes...
          </p>
        </div>
        <div class="col-xs-4">
          <h3>
            {{#linkTo "tags" "instrumental&lic=open"
                title="Instrumental Music"}}Instrumental Music for Videos & Film{{/linkTo}}
          </h3>
          <p>
            Instrumental background or theme music freely available for non-commercial use...
          </p>
        </div>
        <div class="col-xs-4">
          <h3>
            {{#linkTo "tags" "editorial_pick"
                title="Featured Music"}}Featured Music for Download{{/linkTo}}
          </h3>
          <p>
            Editors' Picks hand curated by staff and DJs, ready for your enjoyment...
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <h3>
            {{#linkTo "free"
                title="Commercial Use Music"}}Music Free for Commercial Use{{/linkTo}}
          </h3>
          <p>
            If you need free music for a commercial project, we can accommodate...
          </p>
        </div>
        <div class="col-xs-8">
          <h3>
            <a href="http://ccMixter.org">For Musicians</a>
          </h3>
          <p>
            All of the music on dig.ccmixter was created especially for this site.
            We don't take your back-catalogue or original music you already have on your hard disk (!)
            We want to know what new things you can do with our 2,000 original a cappellas and 10,000 samples
            (that are all licensed under Creative Commons).
            If you're up for a new way of thinking about creative collaboration then come join us at
            <a href="http://ccMixter.org">ccMixer.org</a>
          </p>
        </div>
      </div>
    </div><div class="col-xs-3">
      <a href="http://ccmixter.org"><img src="http://dig.ccmixter.org/images/ccmixter-h.jpg" alt="Visit ccMixter"></a>
      <a href="http://tunetrack.net"><img src="http://dig.ccmixter.org/images/tunetrack-h.jpg" alt="Visit TuneTrack"></a>
      <a href="http://artistechmedia.com"><img src="http://dig.ccmixter.org/images/artistech-h.jpg" alt="Visit ArtisTech Media"></a>
      <a href="http://creativecommons.org"><img src="http://dig.ccmixter.org/images/cc-h.jpg" alt="Visit Creative Commons"></a>
    </div>
  </div>
</article>
</script>
