<article class='keep-ccmixter-open-and-free container'>
  {{dig-bar queryParams=model}}
  <h3>Free Music is Our Gift to the World</h3>
<table class="cc_content_page" cellspacing="0" cellspacing="0" style="width:100%">
<tr>
            <td style="vertical-align:top;width:100%"><p>
	<a href="https://www.indiegogo.com/projects/ccmixter-open-music-for-the-world/x/8609045"><img src="http://ccmixter.org/mixter-files/images/open-free-ccM-banner-med.jpg" /></a></p>
<div style="margin-right:100px;">
<p>
	From all around the world, artists come to ccMixter.org to collaborate -- Creative Commons licenses make our open-source-music interactive. ccMixter is a positive environment where both professionals and hobbyists are connected through music. <a href="https://www.indiegogo.com/projects/ccmixter-open-music-for-the-world/x/8609045">Help us grow open and free</a>!</p>
<h2>
	<a href="https://www.indiegogo.com/projects/ccmixter-open-music-for-the-world/x/8609045">How YOU Can Participate</a>:</h2>
<br>
<h3>
	<strong>1. <a href="https://www.youtube.com/playlist?list=PLql6A7vhyQulzp9YKseuhlZbt-c71pi7Y">Show Us Your Gear!</a></strong></h3>
<p>
	How do you record your ccMixter tracks? Upload a picture or video of your instruments, remixing gear, or a screenshot of your VSTs - and an anonymous donor will <a href="https://www.indiegogo.com/projects/ccmixter-open-music-for-the-world/x/8609045">give $1 to ccMixter</a>! For tracking, tag us on <a href="https://twitter.com/ccMixterMusic">Twitter</a>, <a href="https://plus.google.com/b/100165113684488245618/100165113684488245618/posts">Google Plus</a>, <a href="https://www.youtube.com/channel/UCU7QBXVX4gcePOcEyha7yng">YouTube</a> or <a href="http://instagram.com/ccmixter">Instagram</a>, post to our <a href="https://www.facebook.com/pages/ccMixterorg/191513534229345?ref=hl">Facebook</a>, and use the hastags #ccMixter and #MusicConnectsUs. Please also post a link in our Forums so we can all easily find what you share. </p>
<br>
<h3>
	2. <a href="http://ccmixter.org/playlist/browse/17363">Record, Remix</a></h3>
<p>
	Contribute a pell, sample or remix on how <a href="http://ccmixter.org/playlist/browse/17363">Music Connects Us at ccMixter.org</a>. Use the suggested tag Music_Connects_Us on your upload. Check out the dozens of #MusicConnectsUs promos and remixes already created <a href="http://ccmixter.org/playlist/browse/17363">HERE</a> for inspiration. Oh, and if you remix <a href="http://ccmixter.org/people/SackJo22">Sackjo22</a>, she will <a href="http://ccmixter.org/thread/3185">donate $5</a> to our<a href="https://www.indiegogo.com/projects/ccmixter-open-music-for-the-world/x/8609045"> IndieGoGo Campaign</a> for each mix (wow). </p>
<br>
<h3>
	3. <a href="https://twitter.com/ccMixterMusic">Follow</a><a href="https://twitter.com/ccMixterMusic">, Tag, Retweet, Like</a></h3>
<p>
	Help spread the word about ccMixter and the unique ways we create and share our music. Follow and share the magic of ccMixter on <a href="https://twitter.com/ccMixterMusic">Twitter</a>, <a href="https://plus.google.com/b/100165113684488245618/100165113684488245618/posts">Google Plus</a>, <a href="https://www.youtube.com/channel/UCU7QBXVX4gcePOcEyha7yng">YouTube</a>, <a href="http://instagram.com/ccmixter">Instagram</a>, <a href="https://www.facebook.com/pages/ccMixterorg/191513534229345?ref=hl">Facebook</a>, <a href="https://vimeo.com/ccmixter">Vimeo</a> -- and use the hashtags #ccMixter and #MusicConnectsUs and link to our <a href="https://www.indiegogo.com/projects/ccmixter-open-music-for-the-world/">IndieGoGo campaign - https://www.indiegogo.com/projects/ccmixter-open-music-for-the-world/</a></p>
<h3>
<br>
	4. <a href="https://www.youtube.com/channel/UCU7QBXVX4gcePOcEyha7yng">Vid & URL Sharing</a></h3>
<p>
	ccMixter just started our official <a href="https://www.youtube.com/channel/UCU7QBXVX4gcePOcEyha7yng">YouTube</a> and <a href="https://vimeo.com/ccmixter">Vimeo</a> channels. We'll be posting new <a href="https://www.youtube.com/playlist?list=PLql6A7vhyQukf5fdCv9FkRAqNm_wbYtr-">#MusicConnectsUs vids</a> weekly. Oh, and there are simple ways to share our IndieGogo campaign URL:  <a href="https://www.indiegogo.com/projects/ccmixter-open-music-for-the-world/x/8609045">Add the link to your song page</a><a href="http://igg.me/at/ccmixter"> - igg.me/at/ccmixter</a>, post on your social media, and email your friends that appreciate and support your music. </p>
</div>
<p>
	 </p>
<p>
	<iframe allowfullscreen="" frameborder="0" height="281" src="//www.youtube.com/embed/saTnv_8rYZA" width="500"></iframe></p>
<h3>
	<a href="http://ccmixter.org/playlist/browse/17203">Check out the playlist of #MusicConnectsUs tracks from ccMixter:</a></h3>
<br>

<div  id="cc_mplayer">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" 
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" 
        id="xspf_player" align="middle" height="153" width="400" player_title="ccHost Player">
    <param  name="movie" value="http://ccmixter.org/cchost_lib/xspf_player/xspf_player.swf?playlist_url=http%3A%2F%2Fccmixter.org%2Fapi%2Fquery%3Flimit%3D100%26tags%3Dmusic_connects_us%26type%3Dall%26format%3Dxspf&1=1"></param>
    <param  name="quality" value="high"></param>
    <param  name="bgcolor" value="#e6e6e6"></param>
    <embed  src="http://ccmixter.org/cchost_lib/xspf_player/xspf_player.swf?playlist_url=http%3A%2F%2Fccmixter.org%2Fapi%2Fquery%3Flimit%3D100%26tags%3Dmusic_connects_us%26type%3Dall%26format%3Dxspf&1=1" 
            quality="high" bgcolor="#e6e6e6" name="xspf_player" player_title="ccHost Player" type="application/x-shockwave-flash" 
            pluginspage="http://www.macromedia.com/go/getflashplayer" align="center" height="153" width="400"></embed>
</object>
</div></td>
    </tr>
</table>
