<p style="text-align: center;">
	<img alt="support ccMixter" src="http://tunetrack.net/mnodes/29996/image/" style="width: 900px; height: 160px;" /></p>
<h3>
	<input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" type="image" /><span style="font-size: 12px;"> </span><img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" style="font-size: 12px;" width="1" />&nbsp;Contribute to ccMixter.org, and help keep us free!</h3>
<hr />
<p>
	<span style="text-align: center;">By supporting ccMixter you:</span></p>
<ul>
	<li>
		<span style="text-align: center;">Provide a creative home for 5,000 international musicians</span></li>
	<li>
		<span style="text-align: center;">Share our tracks that can be legally used in vids, apps &amp; games (with <a href="http://ccmixter.org/how-to-attribute-ccmixter-tracks">Attribution</a>)</span></li>
	<li>
		<span style="text-align: center;">Run our servers hosting more than 35,000 tracks and music stems</span></li>
	<li>
		<span style="text-align: center;">Operate ccHost, an award-winning open-source platform</span></li>
</ul>
<h2 style="text-align: center;">
	PLEASE GIVE YOUR SUPPORT! &nbsp;<input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" type="image" /><span style="font-size: 12px;">&nbsp;</span><img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" style="font-size: 12px;" width="1" /></h2>
<p style="text-align: center;">
	<iframe allowfullscreen="" frameborder="0" height="270" src="//www.youtube.com/embed/xCvmWEiEgtI?list=UUU7QBXVX4gcePOcEyha7yng" width="480"></iframe></p>
