<article class='license-ready uploads container'>
  {{dig-bar queryParams=model}}
  <h3>License Ready Tracks</h3>
  <div class='row'>
    <div class='col-md-3'>
      <div class='well'>
        <p>ccPlus Licenses grant additional privileges beyond Creative Commons, including use of the work in a commercial setting.</p>
        <p>All the tracks listed here have license terms pre-negotiated with the contributing artists, all you have to do is answer the questions in the licensing wizard and purchase a license for your project.</p>
      </div>
    </div><div class='col-md-9'>
      {{uploads-playlist queryParams=model}}
    </div>
  </div>
</article>
