<article class='safe-for-commercial-licensing container'>
  {{dig-bar queryParams=model}}
  <h3>
    {{link-to "ccMixter Tracks Free to Remix - Just Give Us Credit" "licenseReady"}}
  </h3>
  <div class='row'>
    <div class='col-md-3'>
      <p>
        <a href="http://ccmixter.org/">ccMixter.org</a> offers thousands of {{link-to "safe tracks" "licenseReady"}},
        {{link-to "samples" "samples"}} and {{link-to "pells" "pells"}} for which you can obtain a low cost commercial license.
      </p><p>
        <a href="http://tunetrack.net/license/ccmixter.org/files/djlang59/37792"><img alt="TuneTrack Commercial ccPlus" src="http://tunetrack.net/media//img/cc-plus-tunetrack.png" style="width: 88px; height: 31px; float: right; margin: 5px;" /></a>
        How do you get the license? Click the dollar sign next to the song or the TuneTrack Commercial icon to go to the
        <a href="http://tunetrack.net/license/ccmixter.org/files/djlang59/37792">licensing wizard on TuneTrack</a>.
        <br>
        Answer the questions and complete your transaction with PayPal. Oh, please Attribute too if you can.
      </p>
    </div><div class='col-md-9'>
      {{partial "howToAttribute"}}
    </div>
  </div>
  {{uploads-playlist queryParams=content}}
</article>
