<div class='user-profile'>
  <div class="row">
    <div class='col-md-3'>
      <div class='well'>
        What I Like
        <div class='tag-list'>
        {{#each user_tag_links.user_tag_links1.value}}
          {{link-to tag "tags" tag}}
        {{/each}}
        </div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='well description'>
        {{#if user_avatar_url}}
          {{#link-to 'user' user_name class='pull-right'}}
            <img class='avatar' {{bind-attr src=user_avatar_url alt=user_real_name}}/>
          {{/link-to}}
        {{/if}}
        {{{user_description_html}}}
      </div>
    </div><div class='col-md-3'>
      <div class='well'>
        <div class='join-date'>
          Member since <span>{{user_date_format}}</span>
        </div>
        {{#if user_num_uploads}}
          <div class='num-uploads'>
            <span>{{user_num_uploads}}</span> files uploaded
          </div>
        {{/if}}
        {{#if user_num_remixes}}
          <div class='num-remixes'>
            <span>{{user_num_remixes}}</span> remixes uploaded
          </div>
        {{/if}}
        {{#if user_num_remixed}}
          <div class='num-remixed'>
            <span>{{user_num_remixed}}</span> remixes appeared in
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
