<div class="input-group search-dig">
  <a {{action toggleAdvanced}} class='input-group-addon' href='#' title='Advanced Dig Toggle'>
    <span {{bindAttr
      class=":glyphicon showAdvanced:glyphicon-chevron-down:glyphicon-chevron-right"
    }}></span>
  </a>
  </span>
  {{input class="form-control" value=params.query placeholder="Search Terms" size="128"}}
  <span class='input-group-addon'>
    {{view Em.Select
      content=licOptions
      placeholder="Any"
      optionLabelPath="content.label"
      optionValuePath="content.value"
      value=params.lic
    }}
  </span>
  <a {{action default}} class='input-group-addon btn btn-default' href='#'>
    dig
  </a>
</div>

{{#if showAdvanced}}
  <section class='well advanced'>
    <label class='results'>
      results
      {{view Em.Select
        content=resultsOptions
        value=params.limit
      }}
    </label>
    <label class='sort'>
      sort
      {{view Em.Select
        content=sortOptions
        value=params.sort
      }}
    </label>
    <label class='direction'>
      {{view Em.Select
        content=ordOptions
        value=params.ord
      }}
    </label>
    <label class='direction'>
      tags
      {{input value=params.tags placeholder="Comma separated please" size=50}}
    </label>
  </section>
{{/if}}
