<div class="input-group search-dig">
  <a {{action "dig" queryParams}} class='input-group-addon' href='#' title='Advanced Dig Toggle'>
    <span {{bindAttr
      class=":glyphicon showAdvanced:glyphicon-chevron-down:glyphicon-chevron-right"
    }}></span>
  </a>
  </span>
  {{input class="form-control" value=params.query placeholder="Search Terms" size="128"}}
  <span class='input-group-addon'>
    {{view Em.Select
      content=licOptions
      placeholder="Any"
      optionLabelPath="content.label"
      optionValuePath="content.value"
      value=params.lic
    }}
  </span>
  <a {{action "dig" queryParams}} class='input-group-addon btn btn-default' href='#'>
    dig
  </a>
</div>

{{#if showAdvanced}}
  <section class='well advanced'>
    <label class='results'>
      results
      {{view Em.Select
        content=resultsOptions
        value=params.limit
      }}
    </label>
    <label class='since'>
      since
      {{view Em.Select
        content=sincedOptions
        value=params.sinced
        optionLabelPath="content.label"
        optionValuePath="content.value"
      }}
    </label>
    <label class='sort'>
      sort
      {{view Em.Select
        content=sortOptions
        value=params.sort
      }}
    </label>
    <label class='direction'>
      {{view Em.Select
        content=ordOptions
        value=params.ord
      }}
    </label>
    <div class='row tags'>
      <div class='col-xs-4 tags-genre'>
        <h4>genre</h4>
        {{tags-selector bar=this
            queryParams="pair=remix&cat=genre&cache=genre_tags"}}
      </div>
      <div class='col-xs-4 tags-instrument'>
        <h4>instrument</h4>
        {{tags-selector bar=this
            queryParams="pair=remix&min=3&cat=instr&cache=instr_tags"}}
      </div>
      <div class='col-xs-4 tags-style'>
        <h4>style</h4>
        {{tags-selector bar=this
            queryParams="pair=remix&min=10&cat=mood&cache=mood_tags"}}
      </div>
    </div>
    {{#if tags.length}}
      <h5 class='tags-list'>
        tags
        {{#each tags}}
          <span class='label label-default'>
            {{this}}
            <a {{action clearTag this}} href='#'
              class='glyphicon glyphicon-remove-circle'></a>
          </span>
        {{/each}}

        <a {{action clearTags}} href='#'
            class='label label-danger'>
          Clear
          <span class='glyphicon glyphicon-remove-circle'></span>
        </a>
      </h5>
    {{/if}}
  </section>
{{/if}}
