{{#if modelIsEmpty}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 no-hit-suggestion">
        <div class="jumbotron empty-query">
          <h1>wups, no results match exactly...</h1>
            <ul>
              {{#unless queryOptions.optionsAreClean}}
                <li>
                  {{t 'playlist.tryReset'}} 
                    <a href='#' class="btn btn-sm btn-warning" {{action "clearOptions"}}><i class="fa fa-power-off"></i> {{qt 'queryOptions.reset'}}</a>
                </li>
              {{/unless}}
            </ul>
        </div>
      </div>
    </div>
  </div>
{{/if}}