<div class="container">
  <div class="row">
    <div class="col-xs-12 visible-xs" style="background-color:red">
        <h4 style="padding: 10px; text-align:center"> XS </h4>
    </div>
    <div class="col-sm-12 visible-sm" style="background-color:blue">
        <h4 style="padding: 10px; text-align:center"> SM </h4>
    </div>
    <div class="col-md-12 visible-md" style="background-color:green">
        <h4 style="padding: 10px; text-align:center"> MD </h4>
    </div>
    <div class="col-lg-12 visible-lg"  style="background-color:yellow">
        <h4 style="padding: 10px; text-align:center"> LG </h4>
    </div>
  </div>  

</div>