<ul class="actions"> 
    <li>
        <a class="btn btn-lg btn-info"    href="#" {{action "togglePlay" model}}>{{#if model.media.isPlaying }}<i class="fa fa-4x fa-fw fa-stop"></i>{{else}}<i class="fa fa-4x fa-fw fa-play"></i>{{/if}}</a>
    </li>
    <li>                
        <a class="btn btn-lg btn-warning" href="#" {{action "doDownloadPopup" model}}  ><i class="fa fa-4x fa-fw fa-cloud-download"></i></a>
    </li>
    <li>
        <a class="btn btn-lg btn-success" href="#" {{action "doSharePopup"}}  ><i class="fa fa-4x fa-fw fa-share-alt"></i></a>
    </li>
</ul>
